.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-family: lato;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    padding-top: 120px;
    margin: auto;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
    height: 944px;
    width: 264px;
}


/* responsive */

@media screen and (max-width: 1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}