.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px;
}

.header a{
    text-decoration: none;
    margin-left: 36px;
    color: white;
}

.link-items {
    display: flex;
}

.sign-out-btn {
    margin-left: 20px;
    border: none;
    color: white;
    background-color: #1C2B35;
}

.sign-out-btn:hover {
    color: goldenrod;
    transition: 0.4s;
    cursor: pointer;
}